section#dashboard-history.container
  .page-header
    h3.text-success Lịch sử thao tác

  div.row
    div.col-md-3
      .form-group
        label.control-label.text-success Key search
        input.form-control(type='text', placeholder='Nhập từ khoá tìm kiếm')
    div.col-md-3
      .form-group
        label.control-label.text-success
          | Start Date&nbsp
          a.text-success(href='javascript:;' ng-click='startDateStatus = true' ng-init='startDateStatus = false')
            i.glyphicon.glyphicon-calendar
        input.form-control(
        type='text',
        uib-datepicker-popup='{{format}}',
        ng-model='startDate',
        is-open='startDateStatus'
        placeholder='{{format | lowercase}}')


        //input.form-control(type='date')
    div.col-md-3
      .form-group
        label.control-label.text-success
          | End Date&nbsp
          a.text-success(href='javascript:;' ng-click='startEndStatus = true' ng-init='startEndStatus = false')
            i.glyphicon.glyphicon-calendar
        input.form-control(
        type='text',
        uib-datepicker-popup='{{format}}',
        ng-model='endDate',
        is-open='startEndStatus'
        placeholder='{{format | lowercase}}')
    div.col-md-3
      a.btn.btn-success(href='#' ng-click='pageChanged()') Search
  hr
  div.row
    div.col-md-12
      uib-pagination.pagination-sm.pull-right(
      total-items='totalItems',
      ng-model='currentPage',
      items-per-page='limit'
      ng-change="pageChanged()"
      )

      table.table.table-striped.table-hover
        thead
          tr
            th #
            th Date
            th Người dùng
            th Thao tác
            th Người edit
            th Nội dung
            th Ghi chú
        tbody(ng-if='histories.data.length == 0')
          tr
            td(colspan='7').text-center
              | Không có dữ liệu nào được tìm thấy!
        tbody(ng-if='histories.data.length != 0')
          tr(ng-repeat='history in histories.data')
            td {{($index + 1)+ limit*(currentPage - 1)}}
            td {{history.updatedAt | date : formatDateTime }}
            td
              a(ui-sref='find-user({email:history.userId})') {{history.userId | limitTo : 10 }}
            td(get-action-name='{{history.actionId}}')
            td {{history.createdBy.email}}
            td(prepare-message-action='{{history.actionId}}' data-action='{{history.detail}}')
            td {{history.message}}