#device.row
  div.col-md-12
    div.panel.panel-default
      .panel-heading
        h3.panel-title.text-uppercase Lịch sử xem phim
      .panel-body
        uib-pagination.pagination-sm.pull-right(
        total-items='totalItems',
        ng-model='currentPage',
        items-per-page='limit'
        ng-change="pageChanged()"
        max-size="5"
        boundary-links="true"
        rotate="false"
        )
        table.table
          thead
            tr
              th #
              th MovieID
              th Tên phim
              th Poster
              th Thể loại
          tbody
            tr(ng-repeat='movie in histories.movie')
              td {{$index+1 + limit*(currentPage - 1)}}
              td {{movie.MovieID}}
              td {{movie.MovieName}}
              td
                img(src='{{histories.imgServer}}{{movie.NewPoster}}' height='150')
              td {{movie.Episode == 0 ? 'Phim lẻ' : 'Phim bộ'}}